<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popino el perro influencer</title>

    <!-- Nunca incluir el directorio 'public' en una ruta -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Wild Popino | Autumn 2019</h1>

    <!-- Nunca incluir el directorio 'public' en una ruta -->
    <img src="/images/popino.jpeg" />

    <!-- Nunca incluir el archivo en un enlace, sólo el ENDOPINT -->
    <p>¿Seguro que no quieres <a href="/">volver</a>?</p>

</body>

</html>